.title{
  text-align: center;
  font-size: 45px;
  color: chocolate;
  transition: all 0.3s ease-in-out;
}
.title:hover{
  color: chartreuse;
  transform: scale(1.2);
}
.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.box2{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.box2 img{
  transition: all 0.5s linear;
}
.box2 img:hover{
  transform: scale(1.2);
}
